{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <h2>Graines de Cannabis</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price }} EUR</p>
                    <a href="{% url 'detail' product.id %}" class="btn btn-warning">Regarder</a>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Ajouter au panier</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
