{% extends "shop/base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Connexion</div>
        <div class="card-body">
          <div class="text-center"> <!-- Ajoutez cette div pour centrer le contenu -->
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Nom d'utilisateur</label>
              <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
          </form>
          <p class="mt-3">
            <center>Pas encore inscrit ? <a href="{% url 'register' %}" class="btn btn-link">S'inscrire</a></center>
          </p>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
{% endblock %}

